$fontFamily : 'Cabinet Grotesk', sans-serif;
$titleFont : 'Hoover', sans-serif;
$lightColor : #e9e9e9;
$medColor : #ececec;
$medDarkColor :#295397;
$constrastColor : #091f43;
$darkColor : rgb(6, 0, 24);
$animColor : #d1515a;


@keyframes rotate-logo {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
