@import url("https://api.fontshare.com/css?f[]=hoover@1&f[]=cabinet-grotesk@1&display=swap");
@import './utils';
@import './components/header';
@import './components/connection-gate';
@import './components/message';
@import './components/text-area';
@import './components/profile';
@import './components/gif';
@import './components/cta';
@import './components/admin-dashboard';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background:#ECECEC;
    font-family: $fontFamily;
    font-smooth:always;

}

body{
    margin-left:108px;
    @media(max-width:1000px){
        margin:0;
    }
}

.content__wrap{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

hr{
    color:#191919;
    min-width: 100%;
    margin: 1em auto 3em auto;
}


.disabled {
    display: none;
}