#profile__menu{
    position: fixed;
    right:0;
    top:0;
    z-index:10;
}

.profile{
        &__pic{
            background: $medDarkColor;
            width:150px;
            height:150px;
            border-bottom-left-radius: 100%;
            border-bottom: solid $darkColor 10px;
            border-left: solid $darkColor 10px;
            overflow:hidden;
                @media(max-width:1000px){
                    width:80px;
                    height:80px;
                }
        }
        &__text{
            font-family: $fontFamily;
            font-weight: 800;
            font-size:1.5em;
        }
        &__img{
            width: 150px;
            height:150px;
            object-fit:cover;
            @media(max-width:1000px){
                width:80px;
                height:80px;
            }
        }
}

.user{
    &__wrap{
        margin:1em;
        padding:1em;
        background:$lightColor;
        box-shadow: 0 0 50px rgba(26, 26, 26, 0.123);
        border-radius: 16px;
        max-height:100%;
    }
    &__infos{
        position:relative;
        margin:1em;
        padding:1em;
        background:$constrastColor;
        border-radius: 16px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    &__name{
        color:$lightColor;
        font-size:1.2em;
        font-weight:600;
    }
    &__email{
        color:$lightColor;
        font-size:1.2em;
        font-weight:400;
        cursor:pointer;
    }
    &__position{
        color:$lightColor;
        font-size:1.2em;
        font-weight:600;
    }
    &__heading{
        font-weight: 800;
        color:$constrastColor;
        margin-left:1em;
    }
    &__photo{
        width:300px;
        height:300px;
        border-radius: 50%;
        overflow:hidden;
    }
    &__input-wrap{
        margin:1em;
        grid-row: 1/4;
        height:100%;
        display:flex;
        flex-direction:column;
    }
    &__input{
        margin-top:1.5em;
        border-radius:16px;
        border:none;
        height:1.4em;
    }
    &__photo-wrap{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
            & .cta:nth-child(1){
                margin-right: 1em;
            }
    }
    &__img{
        width:300px;
        height:300px;
        object-fit: cover;
    }
}

.dashboard__wrap{
    display:flex;
    justify-content: space-around;
    align-content: center;
    height:100%;
    margin-top:10em;
}

.log-out{
    right:80px;
    top:80px;
}

.settings{
    height:100%;
    width:100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    &__menu{
        background:#191919;
        position:fixed;
        top:0;left:0;right:0;bottom:0;
    }
    &__box{
        position:fixed;
        top:50%;left:50%;
        transform: translate(-45%, -50%);
        background:white;
        width:80%;
        max-width:1200px;
        max-height:800px;
        padding:1em;
        border-radius:16px;
        overflow:hidden;
    }
    &__wrap{
        //margin:2em;
        display:flex;
        justify-content: space-between;
        width:90%;
        margin:auto;
        & .img__container{
            height:300px;
            width:300px;
            border-radius: 50%;
            background: #191919;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        & .typo{
            display:flex;
            flex-direction: column; 
        }
    }
    &__cta{
        align-self: flex-end;
        margin-top:3em;
    }
    &__close-bar{
        background:black;
        height:36px;
        margin:-1em -1em 0 -1em;
        display:flex;
        align-items: center;
        position:relative;
            & .close__btn{
                position: absolute;
                right:1em;
                background:white;
                width:20px;
                height:20px;
                border-radius: 50%;
                display:flex;
                align-items:center;
                justify-content: center;
                flex-direction: column;
                cursor:pointer;
                    & div{
                        border-top:solid black 2px;
                        width:16px;
                        transform-origin: center;
                        &:nth-child(1){
                            transform: translateY(1px) rotate(45deg);
                        }
                        &:nth-child(2){
                            transform: translateY(-1px) rotate(-45deg);
                        }
                    }
            }
    }
}