$fontFamily : 'Cabinet Grotesk', sans-serif;
$titleFont : 'Hoover', sans-serif;
$lightColor : #e9e9e9;
$medColor : #ececec;
$medDarkColor :#295397;
$constrastColor : #091f43;
$darkColor : rgb(6, 0, 24);
$animColor : #d1515a;


@keyframes rotate-logo {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes updown {
    0%{transform: translateY(0px);}
    50%{transform: translateY(5px);}
    50%{transform: translateY(-5px);}
}

.exit, .exit-2 {
    fill: none;
    stroke: $lightColor;
    stroke-linecap: round;
    stroke-width: 2.32px;
  }

  .exit-2 {
    stroke-linejoin: round;
  }